*{
    padding: 0px;
    margin: 0px;
}
img {
	width: 100%;
}
body {
	width: 1080px;
  	height: 100vh;
  	margin: 0 auto;
  	position: relative;
}
a{
	text-decoration: none;
}


.header {
	/*position: fixed;*/
	width: 1080px;
	height: 73px;
	background: #009DE9;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__time {
	display: flex;
}
.time {
	width: 80px;
	height: 41px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 41px;
	letter-spacing: 0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	margin-left: 60px;
	margin-right: 53px;
}
.date {
	width: 480px;
	height: 41px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 41px;
	letter-spacing: 0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;
	display: flex;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	
}
.change-lang {
	margin-right: 60px;
	outline: none;
	border: none;
	width: 60px;
	height: 40px;
	border-radius: 5px;
	background: #009DE9;
	color: #FFFFFF;
	font-size: 22px;
}
.booked-wzsp-prime-data .booked-wzsp-day-val {
	color: #FFFFFF;
}
.main {

}
.h1 {
	display: none;
}
/* сам слайдер */
.slider{
	position: relative;
    width: 100%;  
    height: 608px;
}
.slider__item1 {
	display: flex;
	justify-content: center;
	width: 100%;
    height: 608px;
    background: url('../img/Group_2451.png') center/95%  no-repeat,
    linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(71, 145, 209, 0) 56.77%, rgba(255, 255, 255, 0.72) 100%), radial-gradient(66.43% 109.46% at 50% 50%, #009DE9 0%, #4D74B8 55.21%); 
   
}
.slider__item2 {
	display: flex;
	justify-content: center;
	width: 100%;
    height: 608px;
    background: url('../img/Group_2451.png') center/95%  no-repeat,
	linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(71, 145, 209, 0) 56.77%, rgba(255, 255, 255, 0.72) 100%), radial-gradient(66.43% 109.46% at 50% 50%, #00E9CD 0%, #4D7EB8 55.21%);
}

.slider__item_logo {
	margin-top: 191px;
	width: 545.17px;
	height: 193.36px;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    position: absolute;
    top: 50%;
    margin-left: 20px;
    width: 71px;
    height: 71px;
    background: rgba(0, 0, 0, 0.35);
    margin-top: -35px;
    border-radius: 50%;
    display: block;
 }   
.slider .prev::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -6px;
	text-align: center;
	border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
	transform: rotate(135deg);
	width: 16px;
	height: 16px;
	top: 50;
}    
 
.slider .next {
    right: 0;
    margin-right: 20px;
}
.slider .next::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -10px;
	text-align: center;
	border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	width: 16px;
	height: 16px;
	top: 50;
} 

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}




/*MAIN MENU*/

.main-menu {
	display: block;
	width: 1080px;
	height: 1129px;
	background: url('../img/fon_main_menu.png') 0 0/ 100% no-repeat;
	
}
.second-menu {
	
	width: 1080px;
	height: 1129px;
	background: url('../img/fon_second_menu.png') 0 0/ 100% no-repeat;
	padding-top: 15px;
	/*padding-bottom: 60px;*/
}
.second-menu_flex {
	display: flex;
}
.second-menu__h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #2B2E2D;
	margin-bottom: 30px;
	margin-left: 350px;
}
.second-menu__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #2C2C33;
	margin: 0 98px;
}
.homelink {
	margin-left: 30px;
	width: 40px;
	height: 40px;
	left: 0;
	top: 0;
	background: url(../img/home.png) 100%  no-repeat;
	background-size: cover;
}
.back {
	margin-left: auto;
	margin-right: 30px;
	width: 62px;
	height: 40px;
	left: 0;
	top: 0;
	background: url(../img/down.png) 100%  no-repeat;
	background-size: cover;
}
.main-menu__row1 {
	display: flex;
	padding: 0 55px;
	justify-content: space-between;
	margin-bottom: 35px;
	padding-top: 60px;
}
.main-menu__row2 {
	display: flex;
	padding: 0 55px;
	justify-content: center;

	margin-bottom: 35px;
}
.main-menu__block {
	position: relative;
	width: 300px;
	height: 250px;
	background: #FFFFFF;
	box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
	border-radius: 45px;
	display: block;
	transition: 0.5s;
}
.main-menu__block:active {
	transform: scale(1.1);
	transition: 0.5s;
}
.main-menu__block_text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-align: right;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #2B2E2D;
	text-align: right;
	margin: 60px 20px 0 20px;
}
.main-menu__block_icon {
	width: 80px;
	height: 78px;
	position: absolute;
	bottom: 35px;
	left: 25px;
}



/*footer*/
.footer {
	width: 1080px;
	height: 110px;
	background: #009DE9;
	padding-top: 10px;
}
.footer__row {
	display: flex;
	justify-content: center; 
	align-items: center;
}
.row2 {
	margin-top: 17.7px;
}
.footer__row_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;

}
.footer__row_logo {
	width: 150px;
	height: 53px;
	margin: 0 45px;
}
.footer__row_copyright {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: #FFFFFF;

}
.footer__row_copyright-logo {
	width: 75px;
	height: 17px;
	margin: 0 19px;
}